﻿#foodname{
    color: red;
    font-family: 'Myriad Pro';
    font-size: 36px;
    background-color: #fff;
    width: 980px;
    padding-top: 30px;
}

.img_chitietmonan{
    width: 100px;
    padding-right:10px;
}

#menu_foodintro, #menu_foodimage, #menu_fooddetail, #menu_food_cachlam, #menu_foodcomment, #menu_foodstate{
    color: #f70f3a;
    font-family: 'Myriad Pro';
    font-size: 26px;
    background-color: #fff;
    width: 980px;
    border-bottom-color: #f70f3a;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    padding-top:30px;
    padding-left: 20px;
}

#content_foodintro, #content_foodimage, #content_fooddetail, #content_food_cachlam, #content_food_state{
    background-color: #fff;
    padding-top:20px;
    padding-left:20px;
    width: 980px;
}


#show-case
{
    box-shadow:1px 1px 5px 2px #0d456d;
    border-radius:10px;
    height:300px;
    margin:10px auto;
    width:600px;
}
.img
{
       position:absolute;
       width:600px;
       height:300px;
}
