﻿#main_header{
    height: 60px;
    width: 980px;
    background-image: url(../img/header_sub_background.png);
    border-bottom-width: 5px;
    border-bottom-color: #fff;
    border-bottom-style: solid;
}
#menu_tittle_signup{
    width: 980px;
    background-color:#fff;
    border-bottom-width: 5px;
    border-bottom-color: #fff;
    border-bottom-style: solid;
}
#logo_header{
    width: 210px;
    padding-top: 10px;
}   

#textlarge_logo{
    font-family: Myriad Pro;
    font-size: 30px;
    font-weight: bold;
    color: #edeff7;
}

#textsmall_logo{
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    color: #f0f2ac;
}

#search_box{
    padding-top:12px;
    width: 530px;
}
#searchbox
{
    background-color: #eaf8fc;
    background-image: linear-gradient(#fff, #d4e8ec);
    border-radius: 35px;    
    border-width: 1px;
    border-style: solid;
    border-color: #c4d9df #a4c3ca #83afb7;            
    width: 500px;
    height: 35px;
    padding: 5px;
    overflow: hidden; /* Clear floats */
}

#search_box_input, 
#search_box_submit {
    float: left;
}

#search_box_input {
    padding: 5px 9px;
    height: 23px;
    width: 380px;
    border: 1px solid #a4c3ca;
    font: normal 13px 'trebuchet MS', arial, helvetica;
    background: #f1f1f1;
    border-radius: 50px 3px 3px 50px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);            
}

/* ----------------------- */

#search_box_submit
{       
    background-color: #6cbb6b;
    background-image: linear-gradient(#95d788, #6cbb6b);
    border-radius: 3px 50px 50px 3px;    
    border-width: 1px;
    border-style: solid;
    border-color: #7eba7c #578e57 #447d43;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 
                0 1px 0 rgba(255, 255, 255, 0.3) inset;
    height: 22px;
    margin: 0 0 0 10px;
    padding: 0;
    width: 90px;
    cursor: pointer;
    font: bold 14px Arial, Helvetica;
    color: #23441e;    
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

#search_box_submit:hover {       
    background-color: #95d788;
    background-image: linear-gradient(#6cbb6b, #95d788);
}   

#search_box_submit:active {       
    background: #95d788;
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;        
}

#search_box_submit::-moz-focus-inner {
       border: 0;  /* Small centering fix for Firefox */
}

#login_signup{
    width: 240px;
    font-size:10px;
    padding-top: 5px;
}

#login,
#temp1,
#signup{
    float: right;
    padding-top:12px;
}

#login{
    padding-right: 5px;
    color: #edeff7;
    font-family: 'Myriad Pro';
    font-size: 24px;
}

#signup{
    padding-right: 5px;
    color: #edeff7;
    font-family: 'Myriad Pro';
    font-size: 24px;
}

#temp1{
    padding-right: 5px;
    color: #fff;
    font-family: 'Myriad Pro';
    font-size: 24px;
}
#main_menu{
    width: 980px;
    height: 60px;
    padding: 0;
    cursor: pointer;
}

#menu_home,
#menu_angi,
#menu_odau,
#menu_chiase,
#menu_about{
    background-image: url(../img/menu_item.png);
    width: 196px;
    height: 60px;
    border-right-color: #fff;
    border-right-style: solid;
    border-right-width: 6px;
    font-family: 'Myriad Pro';
    font-size: 20px;
    color:  #fff;
    padding-top: 3px;
}

#img_home, #img_angi, #img_odau, #img_chiase, #img_about{
    width: 35%;
}
.text_run{
    color: #954343;
    font-size:30px;
    font-family:'Myriad Pro';
}
#sub_menu{
    background-image: url(../img/sub_menu_background.png);
    width: 980px;
    height: 60px;
    padding-left:100px;
    padding-right:100px;
}

.sub_menu_img{
    width: 125px;
    padding-right: 40px;
}
#slider_img{
    background-color: #fff;
    width: 980px;
    padding-top:15px;
    padding-bottom:15px;
    border-bottom-color: #f65e5e;
    border-bottom-style: solid;
    border-bottom-width: 5px;
}

#sub_menu_heo, #sub_menu_ga, #sub_menu_bo, #sub_menu_haisan, #sub_menu_khac{
    width: 150px;
    height: 60px;
    border-right-color: #f0f2ac;
    border-right-style: solid;
    border-right-width: 6px;
    border-top-color: #f0f2ac;
    border-top-style: solid;
    border-top-width: 6px;
    border-left-color: #f0f2ac;
    border-left-style: solid;
    border-left-width: 6px;
    border-bottom-color: #f0f2ac;
    border-bottom-style: solid;
    border-bottom-width: 6px;
    font-family: 'Myriad Pro';
    font-size: 20px;
    color: #954343;
    padding-top: 3px;
    cursor: pointer;
}

.img_animal{
    width:40px;
    height:40px;
}

#sub_menu_tphcm, #sub_menu_hanoi, #sub_menu_hue{
    width: 250px;
    height: 60px;
    border-right-color: #f0f2ac;
    border-right-style: solid;
    border-right-width: 6px;
    border-top-color: #f0f2ac;
    border-top-style: solid;
    border-top-width: 6px;
    border-left-color: #f0f2ac;
    border-left-style: solid;
    border-left-width: 6px;
    border-bottom-color: #f0f2ac;
    border-bottom-style: solid;
    border-bottom-width: 6px;
    font-family: 'Myriad Pro';
    font-size: 20px;
    color: #954343;
    padding-top: 3px;
    cursor: pointer;
}

.Background_DK{
    width: 980px;
    border-bottom-width: 5px;
    border-bottom-color: #fff;
    border-bottom-style: solid;
}

.chi_tiet_sp{
    width: 980px;
    border-bottom-color: #fff;
    background:#fff;
}

div#binh_luan{
    width: 140px;
    height: 30px;
    background-color: #224fe5;
    border-radius: 5px;
    text-align: center;
    font-family: Myriad Pro;
    font-size: 25px;
    font-weight: bold;
    color: #edeff7;
}

.textarea{
    width: 600px;
    height: 120px;
    background-color: #e29fc0;
    border-radius: 5px;
}

div#ngay_thang_nam{
    height: 30px;
    background-color: #1b1919;
    color: #fff;
}

#stt{
    margin-left: 800px;
}

.name {
    width: 120px;
    height: 25px;
    background-color: #e29fc0;
}

#item_food{
    background-color: #fff;
    width: 980px;
    padding-top: 15px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom:30px;
}

#tittle_item_food, #namefood{
    color: #e02020;
    font-family: 'Myriad Pro';
    font-size:20px;
    padding-left:10px;
    padding-bottom:20px;
}

#item_food_1, #item_food_2, #item_food_3{
    width: 33%;
    display: block;
    padding-right:50px;
}

.item_food_img{
    width:100px;
    float: left;
    padding-right:5px;
}

.text_food{
    text-align:justify;

}
.link_food{
    float:right;
}

#bottom_main{
    background-color: #fff;
    width: 980px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-color: #edeff7;
    border-top-style:solid;
    border-top-width: 1px;
}

#content_bottom{
    text-align: center;
    color: rgb(68, 68, 68);
    display: block;
    font-family: Tahoma, Calibri, Verdana, Geneva, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
}

#text_DangKy{
    color: #f70f3a;
    font-family: 'Myriad Pro';
    font-size: 26px;
}
#menu_signup_ttbb, #menu_signup_ttk{
    color: #f70f3a;
    font-family: 'Myriad Pro';
    font-size: 26px;
    background-color: #fff;
    width: 980px;
    border-bottom-color: #f70f3a;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    padding-top:30px;
    padding-left: 20px;
}
#content_signup_ttbb, #content_signup_ttk{
     background-color: #fff;
    padding-top:20px;
    padding-left:20px;
    width: 980px;
}
div .gui_binh_luan{
    border-style: outset;
    border-width: 5px;
    margin: 10px;
 }

.About{
    width: 980px;
    height: 1000px;
    background: #a4c3ca;
    width: 980px;
    height: 735px;
    padding: 30px;
    padding-left: 100px;
}

.about_img{
    margin: 40px;
}

.text_about{
    color: #11249c;
}

#NutXacNhan{
    padding-left: 200px;
    padding-top:30px;
    padding-bottom:30px;
    background-color: #fff;
    width: 980px;
}

#giatien{
    color: red;
    font-size: 20px;
    font-family: 'Myriad Pro';
    font-weight: bold;
}

