﻿#menu_food_heo{
    color: #f70f3a;
    font-family: 'Myriad Pro';
    font-size: 26px;
    background-color: #fff;
    width: 980px;
    border-bottom-color: #f70f3a;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    padding-top:30px;
    padding-left: 20px;
}

#content_food_heo{
    background-color: #fff;
    padding-top:20px;
    padding-left:20px;
    width: 980px;
}
#showall_heo{
   color: #f70f3a;
    font-family: 'Myriad Pro';
    font-size: 20px;
    background-color: #fff;
    width: 980px;
    padding-left: 820px;
}