﻿#backgroundSingup{
    background-color: #fff; 
    width: 980px;
}
#tittle{
    color: #392bb2;
    font-family: 'Myriad Pro';
    font-size: 50px;
    font-weight: bold;  
}

.sub_tittle{
    font-family: 'Myriad Pro';
    font-size: 20px;
    font-weight: bold; 
    padding-top: 30px; 
    
}

.name_tittle, .textbox{
    font-family: 'Myriad Pro';
    font-size: 20px;
    font-weight: normal;
}
#row1_1, #row2_1, #row3_1, #row4_1, #row1_2, #row2_2, #row3_2, #row4_2 {
    width: 490px;
}
#part1_1, #part2_1, #part1_2, #part2_2, #part1_3, #part2_3, #part1_4, #part2_4{
    width: 50%;
    padding-top: 5px;
}

.thongke{
    padding-left: 20px;
}

