﻿#menu_food_choice, #menu_food_result{
    color: #f70f3a;
    font-family: 'Myriad Pro';
    font-size: 26px;
    background-color: #fff;
    width: 980px;
    border-bottom-color: #f70f3a;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    padding-top:30px;
    padding-left: 20px;
}

#content_food_choice, #content_food_result{
    background-color: #fff;
    padding-top:20px;
    padding-left:20px;
    width: 980px;
}

#search_by_type, #search_by_place, #search_by_name{
    font-family: 'Myriad Pro';
    font-size: 24px;
    padding-bottom: 30px;
}

#search_note{
    font-family: 'Myriad Pro';
    font-size: 18px;
    font-weight: bold;
    color: red;
}
#ButtonSearch{
    padding-top:30px;
    padding-bottom: 30px;
    padding-left:200px;
}
#btnSearch{
    font-family: 'Myriad Pro';
    font-size: 24px;

    width:140px;
}