﻿<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link href="~/Content/non-responsive.css" rel="stylesheet" />
<link href="~/Content/default.css" rel="stylesheet" />
<link href="~/Content/slider.css" rel="stylesheet" />
<link href="~/Content/list.css" rel="stylesheet" />
<!-- start Dropifi -->
<script type='text/javascript' src='//s3.amazonaws.com/dropifi/js/widget/dropifi_widget.min.js'></script>
<script type='text/javascript'>document.renderDropifiWidget('f456c12702d64aecb1cd32a0b0aa9266-1398143243434');</script> <!-- end Dropifi -->


