﻿@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "About";
}


<div class="container">
    <div class="row" id="main_header">
        <div class="col-xs-4" id="logo_header">
            @Html.Label("EatEat", new { id = "textlarge_logo" })
            @Html.Label("Everywhere", new { id = "textsmall_logo" })
        </div>
        <div class="col-xs-4" id="search_box">
            @using (Html.BeginForm("TimKiem", "MonAn", new { @UserName = ViewBag.UserName }, FormMethod.Get))
            {
                <input name="pTenMonAn" id="search_box_input" type="text" placeholder="Type here">
                <input class="btnSearch" id="search_box_submit" type="submit" value="Search">
            }
        </div>
        <div class="col-xs-4" id="login_signup">
            @if (User.Identity.GetUserName() == "")
{
    @Html.ActionLink("SignUp", "Register", "Account", null, new { id = "signup" })
    @Html.Label("|", new { id = "temp1" })
    @Html.ActionLink("Login", "Login", "Account", null, new { id = "login" })
    @Html.Label("|", new { id = "temp1" })
    @Html.ActionLink("Cart", "Giohang", "MonAn", null, new { id = "signup" })
}
else
{

    @Html.ActionLink("Cart", "Giohang", "MonAn", new { UserName = ViewBag.UserName }, new { id = "signup" })

    @Html.ActionLink("Log Out", "LogOff", "Account", null, new { id = "login" })

    if (@User.Identity.GetUserName() == "admin")
    {
        // @Html.Label("|", new { id = "temp1" })
        @Html.ActionLink("admin", "Admin", "MonAn", null, new { id = "login" })
        //<span id="login">(@ViewBag.UserName)</span>
    }
    else
    {

        @Html.Label("|", new { id = "temp1" })
        @Html.ActionLink(User.Identity.GetUserName(), "TaiKhoan", "MonAn", null, new { id = "login" })

    }


}


        </div>
    </div>
    <div class="row" id="main_menu">
        <div class="col-xs-4" id="menu_home">
            <img id="img_home" src="~/img/icon_home.png" />@Html.ActionLink("Home", "Index", new { UserName = ViewBag.UserName })
        </div>

        <div class="col-xs-4" id="menu_angi">
            <img id="img_angi" src="~/img/icon_food.png" />@Html.ActionLink("Ăn gì", "ListTheoAnGi", new { UserName = ViewBag.UserName })
        </div>
        <div class="col-xs-4" id="menu_odau">
            <img id="img_odau" src="~/img/icon_diferent.png" />@Html.ActionLink("Ở đâu", "ListTheoODau", new { UserName = ViewBag.UserName })
        </div>
        <div class="col-xs-4" id="menu_chiase">
            <img id="img_chiase" src="~/img/icon_love.png" />Chia sẻ
        </div>

        <div class="col-xs-4" id="menu_about">
            <img id="img_about" src="~/img/icon_edit.PNG" />@Html.ActionLink("About", "About", new { UserName = ViewBag.UserName })
        </div>
    </div>
    <div class="row" id="sub_menu">
        <marquee direction="right" scrolldelay="5" scrollamount="5" onmouseover="this.stop()" onmouseout="this.start()">
            <span class="text_run">Click and enjoy now!!!</span>
            <img class="sub_menu_img" src="~/img/Slider_img1.png" />
            <img class="sub_menu_img" src="~/img/Slider_img2.png" />
            <img class="sub_menu_img" src="~/img/Slider_img3.png" />
            <img class="sub_menu_img" src="~/img/Slider_img4.png" />
            <img class="sub_menu_img" src="~/img/Slider_img5.png" />
            <img class="sub_menu_img" src="~/img/Slider_img6.png" />
            <span class="text_run">Click and enjoy now!!!</span>
        </marquee>
    </div>
    <div class="row About">
        <div class="row">
            <img class="about_img" src="~/img/about.png" usemap="#466492" />
            <map name="466492" id="466492">
                <area coords="175, 90, 90" shape="circle" href="javascript: alert('Phạm Hữu Nhân sinh ngày 09/01/1993 MSSV 1112466')" alt="nhan" />
                <area coords="461, 98, 86" shape="circle" href="javascript: alert('Trương Ngọc Thịnh sinh ngày 12/06/1993 MSSV 1112492')" alt=" thinh" />
            </map>
        </div>
        <div class="row text_about gioi_thieu">
            <p>
                Eat everywhere là website hàng đàu chuyên giới thiệu và cập nhật tin tức về các món ăn 3 miền ở Việt Nam. Đến với Eat everywhere, các bạn có thể tìm thấy rất nhiều đặc sản, món ngon ở khắp vùng của Việt Nam. Bên cạnh đó website còn cung cấp cho bạn đọc thông tin về địa điểm ẩm thực hấp dẫn, ngon, bổ, rẻ tại các thành phố lớn như Hồ Chí Minh, Hà Nội, Đà Nẵng cũng như tại địa phương xuất sứ của món ăn đó….
            </p>
            <p>
                Website của chúng tôi thường xuyên sưu tầm những món ăn độc đáo, hấp dẫn từ khắp nơi trên đất nước Việt Nam...cùng với sự trải nghiệm và đúc kết của nhiều du khách trong và ngoài nước.
            </p>
            <p>
                Hơn thế nữa, Eat everywhere còn là nơi cung cấp thông tin, hướng dẫn cách chế biến các món ngon đặc sản vùng miền cho mọi bạn đọc trên cả nước. Ghé thăm website eateateverywhere.com bạn sẽ có được những công thức chế biến món ngon như ý cho những dịp lễ, tết của gia đình, bạn bè và người thân.
            </p>
            <p>
                Hãy đến với eateateverywhere.com để có những thông tin chính xác và những trải nghiệm thú vị với văn hóa ẩm thực Việt Nam.
            </p>
        </div>

    </div>

</div> <!-- /container -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="~/Scripts/jquery-1.11.0.min.js"></script>

<script>
    id = 0;
    $('#menu_angi').hover(function () {
        id = 1;
        $('#sub_menu').html("<div class='col-xs-4' id='sub_menu_heo'> <img class='img_animal' src='../../img/icon_heo.jpg' /> Heo </div><div class='col-xs-4' id='sub_menu_bo'><img class='img_animal' src='../../img/icon_bo.jpg' />Bò</div><div class='col-xs-4' id='sub_menu_ga'><img class='img_animal' src='../../img/icon_ga.jpg' />Gà</div><div class='col-xs-4' id='sub_menu_haisan'><img class='img_animal' src='../../img/icon_haisan.jpg' />Hải sản</div><div class='col-xs-4' id='sub_menu_khac'><img class='img_animal' src='../../img/icon_khac_angi.jpg' />Khác</div>");
    });
    
    $('#menu_odau').hover(function () {
        id = 1;
        $('#sub_menu').html("<div class='col-xs-4' id='sub_menu_tphcm'><img  src='../../img/icon_tphcm.png' />Món ăn miền nam</div><div class='col-xs-4' id='sub_menu_hanoi'><img src='../../img/icon_hanoi.png' />Món ăn miền bắc</div><div class='col-xs-4' id='sub_menu_hue'><img src='../../img/icon_hue.png' />Món ăn miền trung</div>");
    });
    $('#menu_home').hover(function () {
        if (id != 0) {
            id = 0;
            $('#sub_menu').html("<marquee direction='right' scrolldelay='5' scrollamount='5' onmouseover='this.stop()' onmouseout='this.start()'><span class='text_run'>Click and enjoy now!!!</span><img class='sub_menu_img' src='../../img/Slider_img1.png' /><img class='sub_menu_img' src='../../img/Slider_img2.png' /><img class='sub_menu_img' src='../../img/Slider_img3.png' /><img class='sub_menu_img' src='../../img/Slider_img4.png' /><img class='sub_menu_img' src='../../img/Slider_img5.png' /><img class='sub_menu_img' src='../../img/Slider_img6.png' /><span class='text_run'>Click and enjoy now!!!</span></marquee>");
        }
    });
    $('#menu_chiase').hover(function () {
        if (id != 0) {
            id = 0;
            $('#sub_menu').html("<marquee direction='right' scrolldelay='5' scrollamount='5' onmouseover='this.stop()' onmouseout='this.start()'><span class='text_run'>Click and enjoy now!!!</span><img class='sub_menu_img' src='../../img/Slider_img1.png' /><img class='sub_menu_img' src='../../img/Slider_img2.png' /><img class='sub_menu_img' src='../../img/Slider_img3.png' /><img class='sub_menu_img' src='../../img/Slider_img4.png' /><img class='sub_menu_img' src='../../img/Slider_img5.png' /><img class='sub_menu_img' src='../../img/Slider_img6.png' /><span class='text_run'>Click and enjoy now!!!</span></marquee>");
        }
    });
    $('#menu_about').hover(function () {
        if (id != 0) {
            id = 0;
            $('#sub_menu').html("<marquee direction='right' scrolldelay='5' scrollamount='5' onmouseover='this.stop()' onmouseout='this.start()'><span class='text_run'>Click and enjoy now!!!</span><img class='sub_menu_img' src='../../img/Slider_img1.png' /><img class='sub_menu_img' src='../../img/Slider_img2.png' /><img class='sub_menu_img' src='../../img/Slider_img3.png' /><img class='sub_menu_img' src='../../img/Slider_img4.png' /><img class='sub_menu_img' src='../../img/Slider_img5.png' /><img class='sub_menu_img' src='../../img/Slider_img6.png' /><span class='text_run'>Click and enjoy now!!!</span></marquee>");
        }
    });
    
    $('#login').click(function () {
        $('#login_signup').html("Tài khoản<input id='taikhoan' type='text'><a class='btnSignUp'href='SignUp.html'><input class='btnSignUp' type='button' value='Sign Up'></a><br />Mật khẩu<input id='matkhau' type='password'><input id='btnLogin' type='button' value='Login'>");
    });

</script>




