﻿@using Microsoft.AspNet.Identity
@model QLMonAn.MonAn 
@{
    ViewBag.Title = "ChiTietMonAn";
}

<link href="~/Content/chitietmonan.css" rel="stylesheet" />

<div class="container">
    <div class="row" id="main_header">
        <div class="col-xs-4" id="logo_header">
            @Html.Label("EatEat", new { id = "textlarge_logo" })
            @Html.Label("Everywhere", new { id = "textsmall_logo" })
        </div>
        <div class="col-xs-4" id="search_box">
            @using (Html.BeginForm("TimKiem", "MonAn", FormMethod.Get))
            {
                <input name="pTenMonAn" id="search_box_input" type="text" placeholder="Type here">
                <input class="btnSearch" id="search_box_submit" type="submit" value="Search">
            }
        </div>
        <div class="col-xs-4" id="login_signup">
           @if (User.Identity.GetUserName() == "")
{
    @Html.ActionLink("SignUp", "Register", "Account", null, new { id = "signup" })
    @Html.Label("|", new { id = "temp1" })
    @Html.ActionLink("Login", "Login", "Account", null, new { id = "login" })
    @Html.Label("|", new { id = "temp1" })
    @Html.ActionLink("Cart", "Giohang", "MonAn", null, new { id = "signup" })
}
else
{

    @Html.ActionLink("Cart", "Giohang", "MonAn", new { UserName = ViewBag.UserName }, new { id = "signup" })

    @Html.ActionLink("Log Out", "LogOff", "Account", null, new { id = "login" })

    if (@User.Identity.GetUserName() == "admin")
    {
        // @Html.Label("|", new { id = "temp1" })
        @Html.ActionLink("admin", "Admin", "MonAn", null, new { id = "login" })
        //<span id="login">(@ViewBag.UserName)</span>
    }
    else
    {

        @Html.Label("|", new { id = "temp1" })
      @Html.ActionLink(User.Identity.GetUserName(), "TaiKhoan", "MonAn", null, new { id = "login" })

    }


}


        </div>
    </div>
    <div class="row" id="main_menu">
        <div class="col-xs-4" id="menu_home">
            <img id="img_home" src="~/img/icon_home.png" />@Html.ActionLink("Home", "Index", new { UserName = ViewBag.UserName })
        </div>

        <div class="col-xs-4" id="menu_angi">
            <img id="img_angi" src="~/img/icon_food.png" />@Html.ActionLink("Ăn gì", "ListTheoAnGi", new { UserName = ViewBag.UserName })
        </div>
        <div class="col-xs-4" id="menu_odau">
            <img id="img_odau" src="~/img/icon_diferent.png" />@Html.ActionLink("Ở đâu", "ListTheoODau", new { UserName = ViewBag.UserName })
        </div>
        <div class="col-xs-4" id="menu_chiase">
            <img id="img_chiase" src="~/img/icon_love.png" />Chia sẻ
        </div>

        <div class="col-xs-4" id="menu_about">
            <img id="img_about" src="~/img/icon_edit.PNG" />@Html.ActionLink("About", "About", new { UserName = ViewBag.UserName })
        </div>
    </div>
    <div class="row" id="sub_menu">
        <marquee direction="right" scrolldelay="5" scrollamount="5" onmouseover="this.stop()" onmouseout="this.start()">
            <span class="text_run">Click and enjoy now!!!</span>
            <img class="sub_menu_img" src="~/img/Slider_img1.png" />
            <img class="sub_menu_img" src="~/img/Slider_img2.png" />
            <img class="sub_menu_img" src="~/img/Slider_img3.png" />
            <img class="sub_menu_img" src="~/img/Slider_img4.png" />
            <img class="sub_menu_img" src="~/img/Slider_img5.png" />
            <img class="sub_menu_img" src="~/img/Slider_img6.png" />
            <span class="text_run">Click and enjoy now!!!</span>
        </marquee>
    </div>
    <div class="row" id="foodname">
        <img class="img_chitietmonan" src=@Html.DisplayFor(m => m.LinkHinhAnh[0]) />@Html.DisplayFor(m => m.TenMonAn) &nbsp;&nbsp;&nbsp; (Giá tiền: @Html.DisplayFor(m => m.DonGia) VNĐ)
        <div>
            @Ajax.ActionLink("Add cart", "../MonAn/add/" + Html.DisplayFor(m => m.MaMonAn), "POST", new AjaxOptions { UpdateTargetId = "background", HttpMethod = "GET", InsertionMode = InsertionMode.Replace })
          
            <input type="hidden" id="idmonan" value=@Model.MaMonAn />
        </div>
    </div>
    <div class="row" id="menu_foodintro">
        Xuất xứ
    </div>
    <div class="row" id="content_foodintro">
        @Html.DisplayFor(m => m.XuatXu)
    </div>
    <div class="row" id="menu_foodimage">
        Hình ảnh
    </div>
    <div class="row">
        <div class="col-xs-12" id="content_foodimage">
            <div id="show-case">
                @for (int i = 0; i < Model.LinkHinhAnh.Count; i++)
                {
                    <img class="img" src=@Html.DisplayFor(m => m.LinkHinhAnh[i]) />
                }
            </div>
        </div>
    </div>
    <div class="row" id="menu_fooddetail">
        Mô tả
    </div>
    <div class="row">
        <div class="col-xs-12" id="content_fooddetail">
           @Html.DisplayFor(m => m.MoTa)
        </div>
    </div>
    <div class="row" id="menu_food_cachlam">
        Cách làm
    </div>
    <div class="row">
        <div class="col-xs-12" id="content_food_cachlam">
            (Đang cập nhật ....)
        </div>
    </div>
    <div class="row" id="menu_foodstate">
        Tình trạng
    </div>
    <div class="row">
        <div class="col-xs-12" id="content_food_state">
            @if (Model.TinhTrang == true)
            {
                <div>Sẵn sàng phục vụ.</div>
            }
            else
            {
                <div>Tạm ngưng nhận đặt món ăn này.</div>
            }
        </div>
    </div>
    <div class="row" id="menu_foodcomment">
        Bình luận về món ăn
    </div>
    <div class="row chi_tiet_sp">
        <div class="col-xs-2">
            <span>Họ và tên:</span>
        </div>
        <div class="col-xs-10">
            <textarea id="ten" class="name" name="ten_nguoi_bl">@ViewBag.UserName</textarea>
        </div>
    </div>
    <div class="row chi_tiet_sp">
        <div class="col-xs-2">
            <span>Nội dung:</span>
        </div>
        <div class="col-xs-10">
            <textarea id="nd_binh_luan" class="textarea" name="description"></textarea>
        </div>
    </div>
    <div class="row chi_tiet_sp">
        <button id="btn_gui_bl">Gửi bình luận</button>
    </div>

    <div class="row chi_tiet_sp">
        <div id="dsbl">
        </div>
        <div id="load_dsbl">
            <input type="hidden" id="sothutu" value=@Model.listBinhLuan.Count />
            @for (int i = 0; i < Model.listBinhLuan.Count; i++)
            {
                <div class="gui_binh_luan">
                    <div id="ngay_thang_nam">
                        <span>
                            @Model.listBinhLuan[i].Ngay
                        </span>
                        <span id="stt">
                            #
                            @Model.listBinhLuan[i].STT
                        </span>
                    </div>
                    <div>
                        <h3>
                            @Model.listBinhLuan[i].Ten
                        </h3>
                    </div>
                    <div>
                        <p>
                            @Model.listBinhLuan[i].Binh_Luan
                        </p>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="row" id="bottom_main">
        <div class="col-xs-12" id="content_bottom">
            Đồ án môn học Phát triển ứng dụng web
            <br />
            Sinh viên thực hiện:
            <br />
            Trương Ngọc Thịnh - Phạm Hữu Nhân
        </div>
    </div>
</div> <!-- /container -->

<script src="~/Scripts/jquery-1.11.0.min.js"></script>

<script>
    id = 0;
    $('#menu_angi').hover(function () {
        id = 1;
        $('#sub_menu').html("<div class='col-xs-4' id='sub_menu_heo'> <img class='img_animal' src='../../img/icon_heo.jpg' /> Heo </div><div class='col-xs-4' id='sub_menu_bo'><img class='img_animal' src='../../img/icon_bo.jpg' />Bò</div><div class='col-xs-4' id='sub_menu_ga'><img class='img_animal' src='../../img/icon_ga.jpg' />Gà</div><div class='col-xs-4' id='sub_menu_haisan'><img class='img_animal' src='../../img/icon_haisan.jpg' />Hải sản</div><div class='col-xs-4' id='sub_menu_khac'><img class='img_animal' src='../../img/icon_khac_angi.jpg' />Khác</div>");
    });

    $('#menu_odau').hover(function () {
        id = 1;
        $('#sub_menu').html("<div class='col-xs-4' id='sub_menu_tphcm'><img  src='../../img/icon_tphcm.png' />Món ăn miền nam</div><div class='col-xs-4' id='sub_menu_hanoi'><img src='../../img/icon_hanoi.png' />Món ăn miền bắc</div><div class='col-xs-4' id='sub_menu_hue'><img src='../../img/icon_hue.png' />Món ăn miền trung</div>");
    });
    $('#menu_home').hover(function () {
        if (id != 0) {
            id = 0;
            $('#sub_menu').html("<marquee direction='right' scrolldelay='5' scrollamount='5' onmouseover='this.stop()' onmouseout='this.start()'><span class='text_run'>Click and enjoy now!!!</span><img class='sub_menu_img' src='../../img/Slider_img1.png' /><img class='sub_menu_img' src='../../img/Slider_img2.png' /><img class='sub_menu_img' src='../../img/Slider_img3.png' /><img class='sub_menu_img' src='../../img/Slider_img4.png' /><img class='sub_menu_img' src='../../img/Slider_img5.png' /><img class='sub_menu_img' src='../../img/Slider_img6.png' /><span class='text_run'>Click and enjoy now!!!</span></marquee>");
        }
    });
    $('#menu_chiase').hover(function () {
        if (id != 0) {
            id = 0;
            $('#sub_menu').html("<marquee direction='right' scrolldelay='5' scrollamount='5' onmouseover='this.stop()' onmouseout='this.start()'><span class='text_run'>Click and enjoy now!!!</span><img class='sub_menu_img' src='../../img/Slider_img1.png' /><img class='sub_menu_img' src='../../img/Slider_img2.png' /><img class='sub_menu_img' src='../../img/Slider_img3.png' /><img class='sub_menu_img' src='../../img/Slider_img4.png' /><img class='sub_menu_img' src='../../img/Slider_img5.png' /><img class='sub_menu_img' src='../../img/Slider_img6.png' /><span class='text_run'>Click and enjoy now!!!</span></marquee>");
        }
    });
    $('#menu_about').hover(function () {
        if (id != 0) {
            id = 0;
            $('#sub_menu').html("<marquee direction='right' scrolldelay='5' scrollamount='5' onmouseover='this.stop()' onmouseout='this.start()'><span class='text_run'>Click and enjoy now!!!</span><img class='sub_menu_img' src='../../img/Slider_img1.png' /><img class='sub_menu_img' src='../../img/Slider_img2.png' /><img class='sub_menu_img' src='../../img/Slider_img3.png' /><img class='sub_menu_img' src='../../img/Slider_img4.png' /><img class='sub_menu_img' src='../../img/Slider_img5.png' /><img class='sub_menu_img' src='../../img/Slider_img6.png' /><span class='text_run'>Click and enjoy now!!!</span></marquee>");
        }
    });

    $('#login').click(function () {
        $('#login_signup').html("Tài khoản<input id='taikhoan' type='text'><a class='btnSignUp'href='SignUp.html'><input class='btnSignUp' type='button' value='Sign Up'></a><br />Mật khẩu<input id='matkhau' type='password'><input id='btnLogin' type='button' value='Login'>");
    });

    var stt = 1;
    var chuoi0 = "<div class='gui_binh_luan'>";
    var chuoi1 = "<div id='ngay_thang_nam'><span>";
    var chuoi2 = "</span><span id='stt'>#";
    var chuoi3 = "</span></div><div><h3>";
    var chuoi4 = "</h3></div><div><p>";
    var chuoi5 = "</p></div>";
    var chuoi6 = "</div>";

    $(document).ready(function () {
        $(".img:gt(0)").hide();
        setInterval(function () {
            $(".img:first-child").fadeOut(3000).next(".img").fadeIn(3000).end().appendTo("#show-case")
        }, 4000);
    });
    $('#btn_gui_bl').click(function () {
        var idmonan = $('#idmonan').val();
        var ten = $('#ten').val();
        var binh_luan = $('#nd_binh_luan').val();

        // Tìm bình luận mới nhất của món ăn để lấy STT

        if (ten == "" || binh_luan == "") {
            alert("Cần nhập đầy đủ thông tin họ tên và nội dung bình luận!");
        }
        else {
            var currentdate = new Date();
            var datetime = "" + currentdate.getDate() + "/"
                        + (currentdate.getMonth() + 1) + "/"
                        + currentdate.getFullYear() + ",  "
                        + currentdate.getHours() + ":"
                        + currentdate.getMinutes() + ":"
                        + currentdate.getSeconds();
            var comment = {
                IDMonAn: idmonan,
                STT: stt,
                Ten: ten,
                Binh_Luan: binh_luan,
                Ngay: datetime
            };
            $.ajax({
                type: "POST",
                url: "/MonAn/ChiTietMonAn/",
                data: comment,
                success: function (data) {
                    var chuoi = chuoi0 + chuoi1 + datetime + chuoi2 + stt + chuoi3 + ten + chuoi4 + binh_luan + chuoi5 + chuoi6;
                    $('#dsbl').after(chuoi);
                    stt += 1;

                },
                error: function (result) {
                    alert("Error");
                }
            });

        }
    });
</script>






