﻿@using Microsoft.AspNet.Identity
@model PagedList.IPagedList<QLMonAn.MonAn>
@using PagedList.Mvc;

@{
    ViewBag.Title = "ListTheoAnGi";
}


<div class="container">
    <div class="row" id="main_header">
        <div class="col-xs-4" id="logo_header">
            @Html.Label("EatEat", new { id = "textlarge_logo" })
            @Html.Label("Everywhere", new { id = "textsmall_logo" })
        </div>
        <div class="col-xs-4" id="search_box">
            @using (Html.BeginForm("TimKiem", "MonAn", FormMethod.Get))
            {
                <input name="pTenMonAn" id="search_box_input" type="text" placeholder="Type here">
                <input class="btnSearch" id="search_box_submit" type="submit" value="Search">
            }

        </div>
        <div class="col-xs-4" id="login_signup">
           @if (User.Identity.GetUserName() == "")
{
    @Html.ActionLink("SignUp", "Register", "Account", null, new { id = "signup" })
    @Html.Label("|", new { id = "temp1" })
    @Html.ActionLink("Login", "Login", "Account", null, new { id = "login" })
    @Html.Label("|", new { id = "temp1" })
    @Html.ActionLink("Cart", "Giohang", "MonAn", null, new { id = "signup" })
}
else
{

    @Html.ActionLink("Cart", "Giohang", "MonAn", new { UserName = ViewBag.UserName }, new { id = "signup" })

    @Html.ActionLink("Log Out", "LogOff", "Account", null, new { id = "login" })

    if (@User.Identity.GetUserName() == "admin")
    {
        // @Html.Label("|", new { id = "temp1" })
        @Html.ActionLink("admin", "Admin", "MonAn", null, new { id = "login" })
        //<span id="login">(@ViewBag.UserName)</span>
    }
    else
    {

        @Html.Label("|", new { id = "temp1" })
        @Html.ActionLink(User.Identity.GetUserName(), "TaiKhoan", "MonAn", null, new { id = "login" })
    }


}


        </div>
    </div>
    <div class="row" id="main_menu">
        <div class="col-xs-4" id="menu_home">
            <img id="img_home" src="~/img/icon_home.png" />@Html.ActionLink("Home", "Index", new { UserName = ViewBag.UserName })
        </div>

        <div class="col-xs-4" id="menu_angi">
            <img id="img_angi" src="~/img/icon_food.png" />@Html.ActionLink("Ăn gì", "ListTheoAnGi", new { UserName = ViewBag.UserName })
        </div>
        <div class="col-xs-4" id="menu_odau">
            <img id="img_odau" src="~/img/icon_diferent.png" />@Html.ActionLink("Ở đâu", "ListTheoODau", new { UserName = ViewBag.UserName })
        </div>
        <div class="col-xs-4" id="menu_chiase">
            <img id="img_chiase" src="~/img/icon_love.png" />Chia sẻ
        </div>

        <div class="col-xs-4" id="menu_about">
            <img id="img_about" src="~/img/icon_edit.PNG" />@Html.ActionLink("About", "About", new { UserName = ViewBag.UserName })
        </div>
    </div>
    <div class="row" id="sub_menu">
        <marquee direction="right" scrolldelay="5" scrollamount="5" onmouseover="this.stop()" onmouseout="this.start()">
            <span class="text_run">Click and enjoy now!!!</span>
            <img class="sub_menu_img" src="~/img/Slider_img1.png" />
            <img class="sub_menu_img" src="~/img/Slider_img2.png" />
            <img class="sub_menu_img" src="~/img/Slider_img3.png" />
            <img class="sub_menu_img" src="~/img/Slider_img4.png" />
            <img class="sub_menu_img" src="~/img/Slider_img5.png" />
            <img class="sub_menu_img" src="~/img/Slider_img6.png" />
            <span class="text_run">Click and enjoy now!!!</span>
        </marquee>
    </div>
    <div class="row" id="menu_food_heo">
        Hãy chọn lựa loại món ăn muốn tìm
        @using (@Html.BeginForm("ListTheoAnGi", "MonAn", new {UserName = ViewBag.UserName}, FormMethod.Get))
        {
            @Html.DropDownList("loaimonan", "Tất cả")
            <input type="submit" value="Tìm" />
        }
    </div>
    
    <div id="item_food" class="row">
        <div id="tittle_item_food">Các món ăn theo @ViewBag.Loai</div>
        @foreach (var item in Model)
        {
            <div class="col-xs-4" id="item_food_1">
                <div id="namefood">@Html.DisplayFor(modelItem => item.TenMonAn)</div>
                <img class="item_food_img" src=@Html.DisplayFor(modelItem => item.LinkHinhAnh[0]) />
                <p class="text_food">@Html.DisplayFor(modelItem => item.MoTa)</p>
                <div id="giatien">Giá tiền: @Html.DisplayFor(modelItem => item.DonGia)</div>
                @Ajax.ActionLink("Add cart", "../MonAn/add/" + item.MaMonAn, "POST", new AjaxOptions { UpdateTargetId = "background", HttpMethod = "GET", InsertionMode = InsertionMode.Replace })
                <div class="link_food">@Html.ActionLink("Click here ...", "ChiTietMonAn", new { id = item.MaMonAn, UserName = ViewBag.UserName })</div>
            </div>

        }

    </div>
    
    <div id="item_food" class="row">

        <div class="" id='Paging' style="text-align:center">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
            of @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("ListTheoAnGi", new { page, loaimonan = Request["loaimonan"] , UserName = ViewBag.UserName}))
        </div>
    </div>
    
    <div class="row" id="bottom_main">
        <div class="col-xs-12" id="content_bottom">
            Đồ án môn học Phát triển ứng dụng web
            <br />
            Sinh viên thực hiện:
            <br />
            Trương Ngọc Thịnh - Phạm Hữu Nhân
        </div>
    </div>
</div> <!-- /container -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="~/Scripts/jquery-1.11.0.min.js"></script>

<script>
    id = 0;
    $('#menu_angi').hover(function () {
        id = 1;
        $('#sub_menu').html("<div class='col-xs-4' id='sub_menu_heo'> <img class='img_animal' src='../../img/icon_heo.jpg' /> Heo </div><div class='col-xs-4' id='sub_menu_bo'><img class='img_animal' src='../../img/icon_bo.jpg' />Bò</div><div class='col-xs-4' id='sub_menu_ga'><img class='img_animal' src='../../img/icon_ga.jpg' />Gà</div><div class='col-xs-4' id='sub_menu_haisan'><img class='img_animal' src='../../img/icon_haisan.jpg' />Hải sản</div><div class='col-xs-4' id='sub_menu_khac'><img class='img_animal' src='../../img/icon_khac_angi.jpg' />Khác</div>");
    });

    $('#menu_odau').hover(function () {
        id = 1;
        $('#sub_menu').html("<div class='col-xs-4' id='sub_menu_tphcm'><img  src='../../img/icon_tphcm.png' />Món ăn miền nam</div><div class='col-xs-4' id='sub_menu_hanoi'><img src='../../img/icon_hanoi.png' />Món ăn miền bắc</div><div class='col-xs-4' id='sub_menu_hue'><img src='../../img/icon_hue.png' />Món ăn miền trung</div>");
    });
    $('#menu_home').hover(function () {
        if (id != 0) {
            id = 0;
            $('#sub_menu').html("<marquee direction='right' scrolldelay='5' scrollamount='5' onmouseover='this.stop()' onmouseout='this.start()'><span class='text_run'>Click and enjoy now!!!</span><img class='sub_menu_img' src='../../img/Slider_img1.png' /><img class='sub_menu_img' src='../../img/Slider_img2.png' /><img class='sub_menu_img' src='../../img/Slider_img3.png' /><img class='sub_menu_img' src='../../img/Slider_img4.png' /><img class='sub_menu_img' src='../../img/Slider_img5.png' /><img class='sub_menu_img' src='../../img/Slider_img6.png' /><span class='text_run'>Click and enjoy now!!!</span></marquee>");
        }
    });
    $('#menu_chiase').hover(function () {
        if (id != 0) {
            id = 0;
            $('#sub_menu').html("<marquee direction='right' scrolldelay='5' scrollamount='5' onmouseover='this.stop()' onmouseout='this.start()'><span class='text_run'>Click and enjoy now!!!</span><img class='sub_menu_img' src='../../img/Slider_img1.png' /><img class='sub_menu_img' src='../../img/Slider_img2.png' /><img class='sub_menu_img' src='../../img/Slider_img3.png' /><img class='sub_menu_img' src='../../img/Slider_img4.png' /><img class='sub_menu_img' src='../../img/Slider_img5.png' /><img class='sub_menu_img' src='../../img/Slider_img6.png' /><span class='text_run'>Click and enjoy now!!!</span></marquee>");
        }
    });
    $('#menu_about').hover(function () {
        if (id != 0) {
            id = 0;
            $('#sub_menu').html("<marquee direction='right' scrolldelay='5' scrollamount='5' onmouseover='this.stop()' onmouseout='this.start()'><span class='text_run'>Click and enjoy now!!!</span><img class='sub_menu_img' src='../../img/Slider_img1.png' /><img class='sub_menu_img' src='../../img/Slider_img2.png' /><img class='sub_menu_img' src='../../img/Slider_img3.png' /><img class='sub_menu_img' src='../../img/Slider_img4.png' /><img class='sub_menu_img' src='../../img/Slider_img5.png' /><img class='sub_menu_img' src='../../img/Slider_img6.png' /><span class='text_run'>Click and enjoy now!!!</span></marquee>");
        }
    });

    $('#login').click(function () {
        $('#login_signup').html("Tài khoản<input id='taikhoan' type='text'><a class='btnSignUp'href='SignUp.html'><input class='btnSignUp' type='button' value='Sign Up'></a><br />Mật khẩu<input id='matkhau' type='password'><input id='btnLogin' type='button' value='Login'>");
    });

</script>




