﻿@using Microsoft.AspNet.Identity
@model _1112466_1112492.Models.RegisterViewModel
@{
    ViewBag.Title = "Tài khoản";
}

<h2>@ViewBag.Title.</h2>
<div class="container">
    <div class="row" id="main_header">
        <div class="col-xs-4" id="logo_header">
            @Html.Label("EatEat", new { id = "textlarge_logo" })
            @Html.Label("Everywhere", new { id = "textsmall_logo" })
        </div>
        <div class="col-xs-4" id="search_box">
            @using (Html.BeginForm("TimKiem", "MonAn", FormMethod.Get))
            {
                <input name="pTenMonAn" id="search_box_input" type="text" placeholder="Type here">
                <input class="btnSearch" id="search_box_submit" type="submit" value="Search">
            }

        </div>
        <div class="col-xs-4" id="login_signup">
            @if (User.Identity.GetUserName() == "")
            {
                @Html.ActionLink("SignUp", "Register", "Account", null, new { id = "signup" })
                @Html.Label("|", new { id = "temp1" })
                @Html.ActionLink("Login", "Login", "Account", null, new { id = "login" })
                @Html.Label("|", new { id = "temp1" })
                @Html.ActionLink("Cart", "Giohang", "MonAn", null, new { id = "signup" })
            }
            else
            {

                @Html.ActionLink("Cart", "Giohang", "MonAn", new { UserName = ViewBag.UserName }, new { id = "signup" })

                @Html.ActionLink("Log Out", "LogOff", "Account", null, new { id = "login" })

                if (@User.Identity.GetUserName() == "admin")
                {
                    // @Html.Label("|", new { id = "temp1" })
                    @Html.ActionLink("admin", "Admin", "MonAn", null, new { id = "login" })
                    //<span id="login">(@ViewBag.UserName)</span>
                }
                else
                {

                    @Html.Label("|", new { id = "temp1" })
                    @Html.ActionLink(User.Identity.GetUserName(), "TaiKhoan", "MonAn", null, new { id = "login" })
                }


            }


        </div>
    </div>
    <div class="row" id="main_menu">
        <div class="col-xs-4" id="menu_home">
            <img id="img_home" src="~/img/icon_home.png" />@Html.ActionLink("Home", "Index", "MonAn")
        </div>

        <div class="col-xs-4" id="menu_angi">
            <img id="img_angi" src="~/img/icon_food.png" />@Html.ActionLink("Ăn gì", "ListTheoAnGi", "MonAn")
        </div>
        <div class="col-xs-4" id="menu_odau">
            <img id="img_odau" src="~/img/icon_diferent.png" />@Html.ActionLink("Ở đâu", "ListTheoODau", "MonAn")
        </div>
        <div class="col-xs-4" id="menu_chiase">
            <img id="img_chiase" src="~/img/icon_love.png" />Chia sẻ
        </div>

        <div class="col-xs-4" id="menu_about">
            <img id="img_about" src="~/img/icon_edit.PNG" />@Html.ActionLink("About", "About", "MonAn")
        </div>
    </div>
    <div class="row" id="sub_menu">
        <marquee direction="right" scrolldelay="5" scrollamount="5" onmouseover="this.stop()" onmouseout="this.start()">
            <span class="text_run">Click and enjoy now!!!</span>
            <img class="sub_menu_img" src="~/img/Slider_img1.png" />
            <img class="sub_menu_img" src="~/img/Slider_img2.png" />
            <img class="sub_menu_img" src="~/img/Slider_img3.png" />
            <img class="sub_menu_img" src="~/img/Slider_img4.png" />
            <img class="sub_menu_img" src="~/img/Slider_img5.png" />
            <img class="sub_menu_img" src="~/img/Slider_img6.png" />
            <span class="text_run">Click and enjoy now!!!</span>
        </marquee>
    </div>
    <div class="row" id="backgroundSingup">
        
            

       
        @using (Html.BeginForm("SuaTaiKhoan", "MonAn", new { UserName = User.Identity.GetUserName() } ,FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-md-12">
                    @Html.Label("CHỈNH SỬA THÔNG TIN TÀI KHOẢN", new { @id = "tittle" })
                </div>
            </div>
            <div id="tittle_item_food">
                @Html.ActionLink("Đổi mật khẩu", "Manage", "Account")
            </div>
            <hr />
            @Html.ValidationSummary()

            


            <div class="row">
                <div class="col-md-12">
                    @Html.Label("Thông tin cá nhân", new { @class = "sub_tittle" })
                </div>
            </div>
            
            <div class="row" id="row4_1">
                <div class="col-xs-4" id="part1_4">
                    @Html.Label("Email", new { @class = "name_tittle" })
                </div>
                <div class="col-xs-4" id="part2_4">
                    @Html.TextBoxFor(m => m.Email, new { @class = "textbox" })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
            </div>
            <div class="row" id="row1_2">
                <div class="col-xs-4" id="part1_1">
                    @Html.Label("Giới tính", new { @class = "name_tittle" })
                </div>
                <div class="col-xs-4" id="part2_1">
                    @Html.DropDownListFor(m => m.GioiTinh, new List<SelectListItem>{
        new SelectListItem {Text = "Nam", Value = "nam", Selected = true},
        new SelectListItem {Text = "Nữ", Value = "nu"}
    }, new { @class = "textbox" })

                </div>
            </div>

            <div class="row" id="row2_1">
                <div class="col-xs-4" id="part1_2">
                    @Html.Label("Ngày tháng năm sinh", new { @class = "name_tittle" })
                </div>
                <div class="col-xs-4" id="part2_2">
                    <div class="textbox">
                        @Html.TextBoxFor(m => m.NgaySinh, new { @class = "textbox", id = "datepicker", @name = "datepicker", @value = "01/01/1993" })

                    </div>
                </div>
            </div>

            <div class="row" id="row3_1">
                <div class="col-xs-4" id="part1_3">
                    @Html.Label("Nơi ở hiện tại", new { @class = "name_tittle" })
                </div>
                <div class="col-xs-4" id="part2_3">
                    @Html.DropDownListFor(m => m.NoiO, new List<SelectListItem>{
        new SelectListItem {Text = "Hồ Chí Minh", Value = "hcm", Selected=true},
        new SelectListItem {Text = "Hà Nội", Value = "hn"},
        new SelectListItem {Text = "Huế", Value = "hue"},
    }, new { @class = "textbox" })
                </div>
            </div>

            <div class="row" id="row4_1">
                <div class="col-xs-4" id="part1_4">
                    @Html.Label("Điện thoại liên lạc", new { @class = "name_tittle" })
                </div>
                <div class="col-xs-4" id="part2_4">
                    @Html.TextBoxFor(m => m.DienThoai, "", new { @class = "textbox" })
                    @Html.ValidationMessageFor(m => m.DienThoai)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Chỉnh sửa" />
                </div>
            </div>
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts/jquery-ui-1.10.4.custom.min.js"></script>
<link href="~/Content/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" />

<script src="~/Scripts/jquery-1.11.0.min.js"></script>
<script>
    id = 0;
    $('#menu_angi').hover(function () {
        id = 1;
        $('#sub_menu').html("<div class='col-xs-4' id='sub_menu_heo'> <img class='img_animal' src='../../img/icon_heo.jpg' /> Heo </div><div class='col-xs-4' id='sub_menu_bo'><img class='img_animal' src='../../img/icon_bo.jpg' />Bò</div><div class='col-xs-4' id='sub_menu_ga'><img class='img_animal' src='../../img/icon_ga.jpg' />Gà</div><div class='col-xs-4' id='sub_menu_haisan'><img class='img_animal' src='../../img/icon_haisan.jpg' />Hải sản</div><div class='col-xs-4' id='sub_menu_khac'><img class='img_animal' src='../../img/icon_khac_angi.jpg' />Khác</div>");
    });

    $('#menu_odau').hover(function () {
        id = 1;
        $('#sub_menu').html("<div class='col-xs-4' id='sub_menu_tphcm'><img  src='../../img/icon_tphcm.png' />Món ăn miền nam</div><div class='col-xs-4' id='sub_menu_hanoi'><img src='../../img/icon_hanoi.png' />Món ăn miền bắc</div><div class='col-xs-4' id='sub_menu_hue'><img src='../../img/icon_hue.png' />Món ăn miền trung</div>");
    });
    $('#menu_home').hover(function () {
        if (id != 0) {
            id = 0;
            $('#sub_menu').html("<marquee direction='right' scrolldelay='5' scrollamount='5' onmouseover='this.stop()' onmouseout='this.start()'><span class='text_run'>Click and enjoy now!!!</span><img class='sub_menu_img' src='../../img/Slider_img1.png' /><img class='sub_menu_img' src='../../img/Slider_img2.png' /><img class='sub_menu_img' src='../../img/Slider_img3.png' /><img class='sub_menu_img' src='../../img/Slider_img4.png' /><img class='sub_menu_img' src='../../img/Slider_img5.png' /><img class='sub_menu_img' src='../../img/Slider_img6.png' /><span class='text_run'>Click and enjoy now!!!</span></marquee>");
        }
    });
    $('#menu_chiase').hover(function () {
        if (id != 0) {
            id = 0;
            $('#sub_menu').html("<marquee direction='right' scrolldelay='5' scrollamount='5' onmouseover='this.stop()' onmouseout='this.start()'><span class='text_run'>Click and enjoy now!!!</span><img class='sub_menu_img' src='../../img/Slider_img1.png' /><img class='sub_menu_img' src='../../img/Slider_img2.png' /><img class='sub_menu_img' src='../../img/Slider_img3.png' /><img class='sub_menu_img' src='../../img/Slider_img4.png' /><img class='sub_menu_img' src='../../img/Slider_img5.png' /><img class='sub_menu_img' src='../../img/Slider_img6.png' /><span class='text_run'>Click and enjoy now!!!</span></marquee>");
        }
    });
    $('#menu_about').hover(function () {
        if (id != 0) {
            id = 0;
            $('#sub_menu').html("<marquee direction='right' scrolldelay='5' scrollamount='5' onmouseover='this.stop()' onmouseout='this.start()'><span class='text_run'>Click and enjoy now!!!</span><img class='sub_menu_img' src='../../img/Slider_img1.png' /><img class='sub_menu_img' src='../../img/Slider_img2.png' /><img class='sub_menu_img' src='../../img/Slider_img3.png' /><img class='sub_menu_img' src='../../img/Slider_img4.png' /><img class='sub_menu_img' src='../../img/Slider_img5.png' /><img class='sub_menu_img' src='../../img/Slider_img6.png' /><span class='text_run'>Click and enjoy now!!!</span></marquee>");
        }
    });

    $('#login').click(function () {
        $('#login_signup').html("Tài khoản<input id='taikhoan' type='text'><a class='btnSignUp'href='SignUp.html'><input class='btnSignUp' type='button' value='Sign Up'></a><br />Mật khẩu<input id='matkhau' type='password'><input id='btnLogin' type='button' value='Login'>");
    });

</script>
<link href="~/Content/login.css" rel="stylesheet" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

<script>
    $(function () {
        $("#datepicker").datepicker();
    });

</script>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript">
</script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>


